body {
  font-family: 'Archivo', sans-serif;
  line-height: 1.2;
}

.flex-50 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.flex-25 {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.stimulus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stimulus-part1 h2 {
  font-size: large;
  font-weight: bold;
}

.stimulus-part1 img {
  width: 750px;
  height: 610px;
}

.navbars ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbars li {
  list-style: none;
}

.stimulus-part2 .navbars a {
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: #f87d02;
}

.navbars a:hover {
  color: #696767;
}

.stimulus-part2 {
  padding: 10px;
  background-color: antiquewhite;
}

.part2-info h4 {
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px;
  color: #b5b2b2;
}

.stimulus-part2 .part2-info h1 {
  color: #908f8f;
  padding: 20px;
}

.stimulus-part2 .part2-info h1 span {
  color: #151515;
}

.stimulus-part2 .part2-info p {
  padding: 20px;
  color: #b5b2b2;
  font-size: 14px;
}

.part2-btn {
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 20px;
}

/*skills*/
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auctor-1 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.auctor-1 h2 {
  font-size: 18px;
  color: #151515;
  margin-left: 10px;
}

.auctor-1 h3 {
  color: orangered;
  padding: 10px;
}

.auctor-1 p {
  font-size: 14px;
  color: #908f8f;
}

.auctor-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.auctor-img img {
  width: 350px;
  height: 300px;
  margin-right: 200px;
}

.auctor-skills {
  width: 0%;
  background: #fff;
  border-radius: 10px;
  margin-right: 3px;
  padding: 10px 0px;
}

.auctor-skills span {
  font-size: 16px;
  font-weight: 500px;
}

.auctor-skills .bar {
  margin: 10px 0;
}

.auctor-skills .bar:first-child {
  margin-top: 0px;
}

.progress-line {
  position: relative;
  height: 10px;
  width: 200px;
  background: #f0f0f0;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
}

.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: black;
  position: absolute;
}

/*dwsign-coding*/
.interfaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interfaces h2 {
  font-size: 20px;
  text-align: center;
}

.interfaces p {
  font-size: 16px;
  text-align: center;
}

.interfaces i {
  margin-left: 170px;
  width: 50px;
  height: 40px;
}

.design {
  background: #fcc141;
  padding: 10px;
  color: white;
}

.strategy {
  background: #e6662b;
  padding: 10px;
  color: white;
}

.app {
  background: wheat;
  padding: 10px;
  color: black;
}

.coding {
  background: black;
  padding: 10px;
  color: white;
}

.experiences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exp-part1 img {
  width: 100%;
  height: 402px;
}

.exp-part2 {
  background: #e6662b;
}

.exp-part2 h2 {
  padding: 0px 10px;
  color: #fff;
}

.exp-part2 h4 {
  font-size: 18px;
  color: #fff;
  padding: 0px 10px;
}

.graphic, .web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.graphic i, .web i {
  width: 80px;
  height: 80px;
  color: #fff;
}

.graphic span, .web span {
  font-size: 14px;
  color: black;
}

/*education*/
.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edu-part2 img {
  width: 100%;
  height: 403px;
}

.edu-part1 {
  background: #fcc141;
}

.edu-part1 h2 {
  padding: 0px 10px;
  color: #fff;
}

.edu-part1 h4 {
  font-size: 18px;
  color: #fff;
  padding: 0px 10px;
}

.master, .bachelor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.master i, .bachelor i {
  width: 80px;
  height: 80px;
  color: #fff;
}

.master span, .bachelor span {
  font-size: 14px;
  color: black;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e6662b;
  padding: 10x 0px;
  color: white;
}

.from-validation {
  position: relative;
  max-width: 350px;
  width: 100%;
  padding: 10px;
}

.from-validation h2 {
  color: white;
  padding: 0px 10px;
  margin-left: 10px;
}

.from-validation p {
  color: white;
  padding: 0px 10px;
  margin-left: 10px;
}

.from-validation .input-field {
  position: relative;
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

.input-field input {
  position: relative;
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 2px solid #a4a1a1;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.form-btn {
  padding: 15px 35px;
  border-radius: 15px;
  font-size: 16px;
  background: white;
  color: #2b2a2a;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
}

.visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visit-img img {
  width: 400px;
  height: 500px;
}

.contact {
  background: black;
  color: #cfcccc;
}

.contact h3, .contact h4 {
  font-size: 20px;
  margin-left: 10px;
}

.contact p {
  font-size: 16px;
  margin-left: 10px;
}

.contact li {
  list-style: none;
  line-height: 1.5;
  color: #f4d63f;
  margin-right: 20px;
}

.contact li i {
  color: #f0eee6;
  margin-left: 10px;
}

.map {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e6662b;
  padding-left: 370px;
}

footer {
  padding: 20px 0px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */